In [1]:
## Author: Jason Luera
## Purpose: Part 1: Using the csv file to grab each proteins pdb. 
## Purpose: Part 2: Writing output to a continued version of that original src file to a new merged one.

In [1]:
# Importing Libraries
from biopandas.pdb import PandasPdb
import numpy as np
import pandas as pd

In [2]:
pwd

'/home/sanctus/git/bfactorcorr/notebooks'

In [3]:
data = '/home/sanctus/git/bfactorcorr/src/data/pdb_bfactors.csv'

In [4]:
df = pd.DataFrame.from_csv(data)
df.head(10)
# Displays correct csv as DF

/home/sanctus/anaconda3/envs/PP3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

         res_total
Protein
132L           124
13PK           415
1A26           351
1A2T           134
1A4L           349
1A65           504
1A8H           500
1A8S           273
1AF7           274
1AGM           470

In [7]:
dfidx = df.index.tolist()
print(dfidx)
# This looks like a good starting point for running a pdb grab and refinement foundation.

['132L', '13PK', '1A26', '1A2T', '1A4L', '1A65', '1A8H', '1A8S', '1AF7', '1AGM', '1AGY', '1AH7', '1AJ0', '1AK0', '1AKO', '1AMY', '1AQ2', '1AQL', '1AST', '1B04', '1B2R', '1BBS', '1BF2', '1BG0', '1BH2', '1BOL', '1BP2', '1BQC', '1BS0', '1BS4', '1BS9', '1BT1', '1BU7', '1BVV', '1BVZ', '1BWL', '1BWZ', '1BYA', '1BZC', '1C82', '1CA2', '1CB8', '1CBX', '1CDG', '1CEL', '1CHD', '1CHK', '1CM0', '1CNS', '1COY', '1CQQ', '1CVR', '1CWY', '1CZ1', '1CZF', '1D1Q', '1D4C', '1D6O', '1DDJ', '1DGK', '1DGS', '1DIN', '1DNP', '1DVE', '1E0C', '1E1A', '1E6E', '1EB6', '1EH5', '1EUG', '1EUU', '1EX1', '1EXN', '1EXP', '1EYP', '1FF3', '1FGH', '1FHL', '1FOA', '1G24', '1G6T', '1G8O', '1GA8', '1GAL', '1GCU', '1GOG', '1GP5', '1GQ8', '1H19', '1H3I', '1HKA', '1HPL', '1HPM', '1HQC', '1I1E', '1I1I', '1I9A', '1IDJ', '1IG8', '1IM5', '1INP', '1IU4', '1J00', '1J09', '1JH6', '1JMS', '1JOA', '1JS4', '1K30', '1KL7', '1KNP', '1L1D', '1L1L', '1L6P', '1L7N', '1L7Q', '1L8T', '1L9X', '1LBA', '1LDM', '1LJL', '1LVH', '1M53', '1MBB', '1MJ9', '1MLA', '1MRQ', '1MUD', '1MUG', '1NDH', '1NDI', '1NLU', '1O8A', '1O98', '1OG1', '1OGO', '1OJ4', '1ONR', '1OPM', '1OXA', '1OYG', '1P1X', '1P3D', '1P5D', '1PA9', '1PII', '1PKN', '1PMI', '1PP4', '1PS9', '1PTD', '1PUD', '1PYL', '1Q91', '1QAM', '1QAZ', '1QBA', '1QFM', '1QGX', '1QJE', '1QK2', '1QWN', '1R1J', '1R44', '1R4Z', '1RBN', '1RDD', '1RU4', '1S3I', '1S95', '1SCA', '1SLL', '1SML', '1SNZ', '1TAH', '1TLP', '1U3F', '1U5U', '1UAS', '1UN1', '1VID', '1VLB', '1VNC', '1VQ1', '1W0H', '1XQW', '1Y9M', '1YON', '1YSC', '1ZE1', '1ZIO', '206L', '2A0N', '2ABK', '2ACY', '2AYH', '2CPO', '2CPU', '2DLN', '2EBN', '2ENG', '2F61', '2F9R', '2NLR', '2NMT', '2PEC', '2PIA', '2PTH', '2SQC', '2THI', '2TPS', '5EAT', '7ATJ']

In [11]:
# dfidx prints all values in array
# len(dfidx) = 213

In [9]:
# Steps
# Put the index into a list
# Fetch each of these proteins through PDB website
# Time this as well

In [32]:
for i in range(2):
    ppdb = PandasPdb().fetch_pdb(dfidx[i])
    ppdb.df['ATOM'].head()
    df = pd.DataFrame(ppdb.df['ATOM'])
    group = df['b_factor'].groupby(df['residue_number']).mean()
    print(group)
# group - type series
# type group.values = numpy.ndarray
# len(group.values) == residue sites on original csv

residue_number
2       14.725714
3       13.439091
4       12.710000
5       16.800909
6       13.318333
7       18.893333
8       12.338750
9       13.616000
10      13.966000
11      14.082000
12      12.678750
14      53.558182
15      25.126000
16      23.820000
17      16.183750
18      18.368750
19      19.312500
20      17.435000
21      31.191818
22      14.765000
23      14.235833
24      13.816667
25      14.945000
26       9.307500
27      10.320000
28      13.157857
29      10.215714
30       9.915000
31       9.858000
32       9.098000
          ...
99      24.634286
100     36.440000
101     78.890000
102    100.000000
103     94.536250
104     29.887500
105     13.885000
106     20.531250
107     15.598000
108     12.887857
109     32.011429
110     13.934000
111     13.681429
112     43.700000
113     21.872500
114     32.211818
115     10.900000
117     23.060000
118     15.261429
119     19.226250
120     15.731429
121     51.840000
122     14.548000
123     13.495714
124     20.736250
125     49.522727
126     24.585000
127     27.973333
128     72.030000
129     99.135556
Name: b_factor, Length: 124, dtype: float64
residue_number
5      84.074722
6      70.083889
7      64.292778
8      55.069583
9      55.551562
10     65.953125
11     73.049722
12     62.277083
13     72.971250
14     52.343750
15     68.029167
16     56.239375
17     62.224444
18     51.216111
19     39.530357
20     42.897812
21     31.767500
22     31.274091
23     28.898929
24     42.480000
25     25.483182
26     30.546562
27     24.032143
28     24.332143
29     33.146786
30     48.145833
31     51.106875
32     40.787500
33     41.368056
34     27.578125
         ...
390    44.184545
391    40.490938
392    37.484167
393    34.407500
394    31.471429
395    30.880417
396    33.916786
397    40.305625
398    47.753750
399    52.964375
400    52.244000
401    61.530417
402    52.387500
403    63.310000
404    69.071562
405    65.925625
406    78.008611
407    74.478125
408    77.342500
409    75.813571
410    63.646250
411    55.909286
412    52.708125
413    51.403929
414    57.726071
415    55.740000
416    54.526250
417    65.225313
418    81.418125
419    84.446000
Name: b_factor, Length: 415, dtype: float64

In [31]:
# Need to move the values of group along side the residue site in an csv.
# This requires merge, combine, and/or concat