#### Author: Jason Luera
#### Purpose: To refine the original csv given to a new one with only proteins and total residues / protein

In [1]:
# Importing libraries
from Bio.PDB import *
import pandas as pd
import numpy as np
import os
import glob

In [12]:
pwd

'/home/sanctus/git/bfactorcorr/src/data'

In [14]:
file = '/home/sanctus/git/bfactorcorr/src/data/pdb_prop_general.csv'

In [17]:
df = pd.DataFrame.from_csv(file)
df.head(10)

/home/sanctus/anaconda3/envs/PP3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

,chain,EC.class,Domains,Year,Resolution,Sites,Number.of.Sequences
Protein,,,,,,,
132L,A,3.02.01.0017,1,2-Jun-93,1.80,124,300
13PK,A,2.07.02.0003,1,23-Nov-96,2.50,415,300
1A26,A,2.04.02.0030,2,16-ene-98,2.25,351,300
1A2T,A,3.01.31.0001,1,11-ene-98,1.96,134,300
1A4L,A,5.99.01.0002,1,31-ene-98,2.60,349,300
1A65,A,1.10.03.0002,3,5-Mar-98,2.23,504,300
1A8H,A,6.01.01.0010,2,26-Mar-98,2.00,500,300
1A8S,A,1.11.01.0010,1,27-Mar-98,1.80,273,300
1AF7,A,2.01.01.0080,2,22-Mar-97,2.00,274,300
1AGM,A,3.02.01.0003,3,13-May-94,2.30,470,300

In [21]:
df1 = df.Sites
df1.head(10)

Protein
132L    124
13PK    415
1A26    351
1A2T    134
1A4L    349
1A65    504
1A8H    500
1A8S    273
1AF7    274
1AGM    470
Name: Sites, dtype: int64

In [23]:
output = '/home/sanctus/git/bfactorcorr/src/data/pdb_bfactors'

In [24]:
df1.to_csv(output)

/home/sanctus/anaconda3/envs/PP3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.